<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>あいさつロボット</title>
  <link href="/layout.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="greeting-contents">
    <div class="balloon">
      ワタシハアイサツロボットデス。<br>
      アイサツヲニュウリョクシテクダサイ。<br>
      あいさつロボットは、「おはよう」「こんにちは」「こんばんは」の3つのあいさつが理解できます。
    </div>
    <form action="/" method="POST" class="form">
      <input id="name-1" type="text" name="keyword" placeholder="ここにあいさつを入れてね">
      <input type="submit" value="送信する">
    </form>
    <div class="result">
      <%= @greet %>
    </div>
    <div class="illust">
      <img src="/illust.png" alt="あいさつロボットくん">
    </div>
  </div>
</div>
</body>
</html>
